Repository hazelcast/hazelcast-go-client, pull requests merged in 2022-08, with the labels that each got.

#759 SQL Driver Context Cancellation
  internal/it/sql.go
  internal/sql/driver/result.go
  internal/sql/driver/sql_service.go
  sql/driver/driver_it_test.go
  sql_it_test.go
Labels: to-jira

#863 Check for the minimum size of the bytes read only once per frame [API-1493]
  internal/cluster/client_message_test.go
Labels: Type: Defect, Source: Internal

#861 Do not try to connect cluster members when the client is not connected to cluster [API-1492]
  client_internals_it_test.go
Labels: Type: Defect, Priority: Low, Estimation: M, Source: Internal

#873 Map.RemoveAll doesn't clear the near cache [API-1519]
  nearcache/nearcache_it_test.go
  nearcache_map.go
  proxy_map.go
Labels: Type: Defect, Priority: Medium, Estimation: S, Source: Internal
